body {
    background-color: #efe1e3;
}

h1 {
    color: white;
}

.block-content {
    margin: 0 0 70px;
    overflow: hidden;
}

div {
    display: block;
}

#map {
    width: 100%;
    height: 400px;
    background-color: grey;
  }