/* NavBar */
.navbar {
    background-color: #e9c4c8!important;
}

.navbar-brand {
    margin-right: auto !important;
}

.navbar-collapse {
    justify-content: flex-end;
}

button {
    border: none;
}

.navfont {
    color: white;
    font-size: 16px;
}

.navbar-toggler-icon {
    color: white;
}