 .dev-icons, .section-title {
    color: #b3747b;
    size: 50px;
}

.dev-icons i {
    font-size: 1.8rem;
}

.planit {
    border-radius: 4px;
  }

.img-container-portfolio{
    padding: 16px;
}
.planit-detail-container {
    padding: 24px;
}
.planit-title {
    text-align: center;
    color: #7b6565;
    margin-right: 24px;
}

footer {
    margin-top: 48px;
}