/* NavBar */
.navbar {
    background-color: #e9c4c8!important;
}

.navbar-brand {
    margin-right: auto !important;
}

.navbar-collapse {
    justify-content: flex-end;
}

button {
    border: none;
}

.navfont {
    color: white;
    font-size: 16px;
}

.navbar-toggler-icon {
    color: white;
}


/* Intro */
.intro {
    display: table;
	width: 100%;
	height: 645px;
	padding: 100px 0;
    text-align: center;
	background: url(../images/London.jpg);
	background-color: #e9c4c8;
	background-size: cover;
}

.introInfo {
    color: white;
    font-size: 20px;
}

.introH1 {
    color: white;
    font-size: 60px;
}


/* Social Media */
.social-media {
    list-style-type: none;
}

.fa-twitter, .fa-instagram, .fa-github, .fa-linkedin {
    /* color: #e9c4c8; */
    color: white;
    font-size: 30px;
}

.fa-github {
    position: absolute;
    bottom: 16px;
    left: 80px;
}

.fa-instagram {
    position: absolute;
    bottom: 16px;
    left: 120px;
}

.fa-twitter {
    position: absolute;
    bottom: 16px;
    left: 160px;
}

.fa-linkedin {
    position: absolute;
    bottom: 16px;
    left: 200px;
}

ul li {
    display: inline;
    /* margin: 0 0 0 8px; */
}